h1{
    background-color: rgba(255, 255, 255, 0.897);
    text-align: center;
}

/*classes começam com um ponto */
.primeiro{
    color: #DEB0FF;
    text-align: center;
}
.paragrafo{
    color: #DEB0FF;
    text-align: center;
}

/*ids começam com um hash */
#link1{
    color: #DEB0FF;
}
#link2{
    color: #DEB0FF;
}

div{
    background-color: rgba(246, 252, 255, 0.986);

}